/*Reseting*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*=========================================================================================================*/
/*Fonts*/
/*font-family: 'Josefin Sans', sans-serif;*/
/*=========================================================================================================*/
/*  Colors
### Primary

- Desaturated Red: hsl(0, 36%, 70%)
- Soft Red: hsl(0, 93%, 68%)

### Neutral

- Dark Grayish Red: hsl(0, 6%, 24%)

### Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
 */
/*=========================================================================================================*/
/*Primary color*/
/*Text  color */
/*Gradients */
/*=========================================================================================================*/
:root {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(135deg, white, #fff5f5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: auto;
}

.content {
  min-width: 300px;
  max-width: 500px;
  border: 1px solid #ce9797;
  margin: 0 1rem;
}

.content__header {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 2.5rem 0px;
}

.content__image {
  min-width: 300px;
  height: 200px;
  overflow: hidden;
}

.content__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

.content__body {
  margin: 3rem 0 4rem;
  text-align: center;
}

.content__text {
  margin-bottom: 2rem;
}

.content__text h2 {
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: .5rem;
}

.content__text h2::first-line {
  color: #ce9797;
  font-weight: 300;
}

.content__text p {
  color: #ce9797;
  line-height: 1.5rem;
  padding: 0 1rem;
}

.content__input {
  display: inline-block;
  position: relative;
}

.content__input input {
  width: 350px;
  height: 40px;
  border: 1px solid #ce9797;
  border-radius: 30px;
  padding: 1rem;
  background-color: transparent;
}

.content__input ::-webkit-input-placeholder {
  color: #ce9797;
  opacity: .5;
}

.content__input :-ms-input-placeholder {
  color: #ce9797;
  opacity: .5;
}

.content__input ::-ms-input-placeholder {
  color: #ce9797;
  opacity: .5;
}

.content__input ::placeholder {
  color: #ce9797;
  opacity: .5;
}

.content__input button {
  width: 60px;
  height: 40px;
  border-radius: 20px;
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.content__input .button--hover:hover {
  opacity: .95;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  right: -10px;
}

.content__input img {
  display: none;
  position: absolute;
  top: 30%;
  right: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content__input .error-message {
  margin: 1rem 0px 0px 1rem;
  text-align: left;
  color: red;
}

.container {
  margin: 0 1.5rem;
}

.logo {
  display: inline-block;
  width: 23px;
}

.company-name {
  display: inline-block;
}

@media (max-width: 390px) {
  .content__input input {
    width: 250px;
  }
  .content__input img {
    right: 30%;
  }
}

@media (min-width: 1000px) {
  .content {
    max-width: 1440px;
    background-image: url("../img/bg-pattern-desktop.svg");
    background-size: 70%;
    background-repeat: no-repeat;
  }
  .container {
    max-width: 400px;
    margin: 0 auto;
  }
  .content--grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content__image {
    height: 100%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    gap: 3rem;
  }
  .content__text {
    text-align: left;
  }
  .content__text p {
    padding: 0;
  }
  .content__input {
    float: left;
  }
}
